.place__title {
    display: block;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}


@media screen and (max-width: 417px) {
    .place__title {
        align-self: flex-start;
        margin-left: 16px;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
    }
}