.place__container {
    display: flex;
    flex-direction: column;
    gap: 27px;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .place__container {
        gap: 25px;
    }

    .place__container:nth-child(2) {
        margin: 0 16px 0 16px;
    }
}

/* Добрый день. Никак не получается, управлять картинкой без данной обертки, поэтому убрав ее изоображение перестанет реагировать
на изменение разрешения. Прошу простить меня за такое сообещние. Я ни в коем случае не прошу помощи, а лишь объясняю свое решение. Спасибо */