.places {
    max-width: 984px;
    margin: 92px auto;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1023px) {
    .places {
        padding: 0 24px;
    }
}


@media screen and (max-width: 767px) {
    .places {
        gap: 73px;
        margin: 88px auto;
        padding: 0;
    }
}
