.cover__subtitle {
    width: 30.41%;
    position: absolute;
top: 57.739%;
    left: 34.7979%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}