.cover__subtitle {
    width: 30.41%;
    margin: 32px 34.8% 245px 35.8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}