.cover__subtitle {
    width: 30.41%;
    position: absolute;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16%;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35.157%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46.875%;
        margin-top: 24%;
    }
}

@media screen and (max-width: 678px) {
    .cover__subtitle {
        width: 79.95%;
        font-size: 14px;
        line-height: 16px;
    }
}