.header {
    width: 92%;
    margin: 28px auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .header{
        margin: 28px 4.69% 0 4.69%;
    }
}

@media screen and (max-width: 768px) {
    .header{
        margin: 28px 3.125% 0 3.125%;
    }
}
@media screen and (max-width: 320px) {
    .header{
        margin: 16px 16px 0 16px;
        
    }
}