.place__text {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    box-sizing: border-box;
}

@media screen and (max-width: 1024) {
    .place__text{
        margin-top: 27px;
    }
}

@media screen and (max-width:768px) {
    .place__text {
        font-size: 16px;
    }
}

@media screen and (max-width:320px) {
    .place__text {
        margin: 0 16px 25px 16px;
        max-width: 288px;
    }
}
