.place__text {
    width: 100%;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    box-sizing: border-box;
}

@media screen and (max-width:683px) {
    .place__text {
        margin-top: 0;
    }
}