.place__title {
    width: 47%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        width: 45.9%;
        /* width: 47.23%; */
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 424px) {
    .place__title {
        width: 96%;
        font-size: 32px;
        line-height: 35px;
        white-space: nowrap;
    }
}