.footer__link {
    flex-basis: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .footer__link {
        flex-grow: 1;
        font-size: 24px;
        line-height: 24px;
    }
}