.lead__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 73.17%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto auto;
    color: #FFFFFF;

}

@media screen and (max-width: 1002px) {
    .lead__title{
        width: 88%;
    }
}   

@media screen and (max-width: 768px) {
    .lead__title {
        width: 93.75%;
    }
}

@media screen and (max-width: 690px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}