.footer__copyright {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    flex-grow: 1;
    text-decoration: none;
    align-self: center;
}
@media screen and (max-width: 697px) {
    .footer__copyright{
        margin-top: 48px;
        text-align: start;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright{
        align-self: flex-start;
        
    }
}