.lead__image {
    width: 100%;
    margin-top: 64px;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
    .lead__image{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-top: 56px;
    }
}


@media screen and (max-width: 690px) {
    .lead__image {
        margin-top: 40px;
    }
}