.intro {
    width: 53.91%;
    margin: 92px 35% 0 11.57%;
}


@media screen and (max-width: 1024px) {
    .intro{
        width: 67.4%;
        margin: 92px 0 0 48px;
    }
}
@media screen and (max-width: 768px){
    .intro{
width: 95%;
margin: 88px auto 0 auto;
    }
    
}
@media screen and (max-width: 682px) {
    .intro{
        margin: 64px 16px 0 16px;
        display:flex;
        flex-direction: column;
    }
}