.lead__subtitle {
    text-align: center;
    margin: 32px auto auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    width: 65.04%;
}

@media screen and (max-width: 690px) {
    .lead__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }
}