.cover {
    position: relative;
    margin: 92px auto 92px auto;
    max-width: 1184px;
    height: 750px;
    background-size: cover;
    gap: 32px;
    background-image: url(../../images/cover/__overlay.jpg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-height: 200px;
        margin-bottom: 0;
        gap: 16px;
    }
}