.cover {
    position: relative;
    margin: 92px auto 92px auto;
    width: 92.5%;
    height: 740px;
    background-image: url(../../images/cover/__overlay.png);
    opacity: 80%;
}

.cover:hover{
    opacity: 40%;
}
