.place__photo {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1279px) {
    .place__photo {
        gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__photo{
        gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__photo{
        gap: 28px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .place__photo{
        gap: 32px
    }
}