
@media screen and (max-width:697px) {
    .place__photo{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:424px){
    .place__title{
        font-size: 32px;
line-height: 35px;
white-space: nowrap;
    }
}
@media screen and (max-width:683px) {
    .place__image{
        flex-grow: 1;
        margin-top: 32px;
    }
    .place__text{
        margin-top: 0;
    }
}