.cover__title{
    width: 47.2975%;
height: 152px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
color: #FFFFFF;
position: absolute;
top:32.975%;
left: 26.352%;
}