.cover__title {
    width: 47.3%;
    height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 245px 26.4% 0 26.4%;
}