.footer {
    position: relative;
    width: 92%;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-between;
    gap: 19px;
}

@media screen and (max-width: 768px) {
    .footer{
        gap: 18px;
        margin: 0 24px 24px 24px;
    }
}

@media screen and (max-width:697px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 24px 16px;
    }
}
