@media screen and (max-width:1024px) {
    .cover{
    position: relative;
    width: 100%;
    }
    .cover__title{
        width: 54.688%;
        top: 30.483%;
        left: 22.657%;
    }
    .cover__subtitle{
        left: 31.446%;
        width: 35.157%;
        top: 58.943%;
    }
    }
    @media screen and (max-width: 768px) {
        .cover{
            width: 100%;
        }
        .cover__title{
            width: 72.917%;
            top:23.81%;
            left:13.933%;
        }
        .cover__subtitle{
            width: 46.875%;
            top: 61.905%;
            left: 26.559%;
        }
    }
    @media screen and (max-width: 579px) {
        .cover__title{
            width: 90%;
            max-height: 70px;
            font-size: 32px;
    line-height: 35px;
    top: 16.26%;
    left: 5%;
    right: 5%;
        }
        .cover__subtitle{
            width: 90%;
            font-size: 14px;
    line-height: 16px;
    top: 59%;
    left: 5%;
    right: 5%;
        }
    }