.place__website {
    width: 50%;
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 764px) {
    .place__website{
        align-self: flex-start;
        width: 45%;
    }
}

@media screen and (max-width: 417px) {
    .place__website{
        width: 80%;
        align-self: flex-start;
        margin-left: 16px;
    }
}