.place__website {
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 417px) {
    .place__website{
        width: 80%;
        margin-left: 16px;
    }
}