.intro__title {
    margin-bottom: 40px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    white-space: nowrap;
}
@media screen and (max-width: 767px) {
    .intro__title{
        white-space:inherit;
    }
}

@media screen and (max-width: 447px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}